language: node_js
node_js:
  - stable
cache:
  npm: false
install:
  - npm install
script:
  - npx commitlint --from=HEAD~1
  - npm run lint
  - npm test
  - npm run build
after_success:
  - cat coverage/lcov.info | npx coveralls
notifications:
  email: false
